<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">

            <a class="navbar-brand" href="#">Projekt 1000</a>
        </div>
        <div class="collapse navbar-collapse">

          <div *ngIf="!ngOnInit()" class="omb_login">

          <div class="navbar-right right-float">
            <a routerLink="/login" (click)="logIn()" type="button" class="btn btn-default navbar-btn right-pull">
              <span class="glyphicon glyphicon-log-in"></span> Log In</a>
          </div>
          </div>

          <div *ngIf="ngOnInit()" class="omb_login">
          <div class="navbar-right right-float">
            <a routerLink="/login" (click)="logOut()" type="button" class="btn btn-default navbar-btn right-pull">
              <span class="glyphicon glyphicon-log-out"></span> Log Out {{getUsername()}}</a>
          </div>
          </div>

        </div>

    </div>
</nav>
