<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">

            <a class="navbar-brand" href="#">Projekt 1000</a>
        </div>
        <div class="collapse navbar-collapse">

          <div class="navbar-right right-float">
            <a routerLink="/logout" (click)="logOut()" type="button" class="btn btn-default navbar-btn right-pull">
              <span class="glyphicon glyphicon-log-out"></span> Log Out</a>
          </div>


        </div>

    </div>
</nav>
