<div class="container">

  <div *ngIf="!isLoggedIn" class="omb_login">
    <h2 class="omb_authTitle">Login or <a [routerLink]="['/register']">Sign up</a></h2>
    <div class="row omb_row-sm-offset-3">
      <div class="col-xs-12 col-sm-6">
        <!-- ALERT -->
        <div [class.show]="message" [ngClass]="'alert alert-danger'" class="step" role="alert">
          {{message}}
        </div>

        <!-- ALERT END -->

        <form #f="ngForm" class="omb_loginForm" autocomplete="on">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-user"></i></span>
            <input [(ngModel)]="username"  required placeholder="Username" type="username" class="form-control" name="username" id="username">
          </div>
          <span class="help-block"></span>

          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
            <input [(ngModel)]="password" type="password" class="form-control" required name="password" placeholder="Password">
          </div>


          <span class="help-block"></span>

          <button [disabled]="!f.valid" class="btn btn-lg btn-primary btn-block" (click)="login()" type="submit">Login</button>
        </form>
      </div>
    </div>
  </div>

  <!-- IF ALREADY LOGGED IN! -->
  <div *ngIf="isLoggedIn" class="omb_login">
    <h2 class="omb_authTitle">You are already logged in!</h2>
    <hr>
    <div class="centerize">
      <button routerLink="/home" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home"></span> Go back Home</button>
    </div>
  </div>
  <!-- IF ALREADY LOGGED IN! -->


</div>

