

<div>
<table  class="table table-responsive">
  <tr>
    <td><b>ID</b></td>
    <td><b>Value</b></td>
    <!--<td><b>State</b></td>-->
    <td><b>Person</b></td>
    <td><b>MR</b></td>
    <td><b>Source</b></td>
    <td><b>Dimension</b></td>
    <td><b>Edit</b></td>

  </tr>
  <tr *ngFor="let c of data" [ngStyle]="{ 'background-color': (c == selectedValue) ? 'lightblue' : ''  }">
    <td>{{c.id}}</td>
    <td>{{c.value}}</td>
    <!--<td>{{c.state}}</td>-->
    <td>{{c.person.prefix}} {{c.person.suffix}}</td>
    <td>{{c.mr.name}}</td>
    <td>{{c.source.name}}</td>
    <td>{{c.dimension.name}} </td>
    <td><button class="btn" (click)="select(c)"><span class="glyphicon glyphicon-cog"></span></button></td>
  </tr>

</table>
<table class="table table-responsive">
  <td><button class="btn" (click)="addValue()"><span class="glyphicon glyphicon-plus" ></span></button></td>
</table>
</div>

<div *ngIf="selectedValue" class="col-md-2 values-actions">
  <h4>Actions:</h4>
  <button class="btn"class="btn btn-warning" [routerLink]="['/value-edit', selectedValue.id]">Edit</button>
  <!--<button class="btn"class="btn btn-danger" (click)="deleteEntry(selectedValue)" >Delete</button>-->
</div>




  <!-- <div *ngIf="values.toArray.length < 1">
     No values at the moment!
   </div>



 </table>


 <!--<div *ngIf="selectedValue" class="col-md-2 myvalues-actions">
   <h4>Actions:</h4>
   <button class="btn"class="btn btn-warning" [routerLink]="['/value-edit', selectedValue.id]">Edit</button> <button
   class="btn"class="btn btn-danger" (click)="deleteEntry(selectedValue)" >Delete</button>
 </div>-->
