<div>
  <table class="table table-responsive">
    <thead>
    <tr>
      <td><b>ID</b></td>
      <td><b>Value</b></td>
      <!--<td><b>State</b></td>-->
      <td><b>Person</b></td>
      <td><b>MR</b></td>
      <td><b>Source</b></td>
      <td><b>Dimension</b></td>
      <td><b>State</b></td>
      <td><b>Edit</b></td>
      <td><b>Delete</b></td>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let c of data" class="active"
        [ngStyle]="{ 'background-color': (c == selectedValue) ? 'lightblue' : ''  }">
      <td>{{c.id}}</td>
      <td>{{c.value}}</td>
      <!--<td>{{c.state}}</td>-->
      <td>{{c.person.prefix}} {{c.person.suffix}}</td>
      <td>{{c.mr.name}}</td>
      <td>{{c.source.name}}</td>
      <td>{{c.dimension.name}}</td>
      <td>{{c.state.text}}</td>
      <td>
        <!--  <button class="btn" (click)="select(c)"><span class="glyphicon glyphicon-cog"></span></button>-->
        <form class="form-horizontal" role="form" (submit)="editValue(c.id)">
          <div class="form-group">
            <input type="submit" value="Edit" class="btn btn-warning"/>
          </div>
        </form>
      </td>
      <td>
        <form class="form-horizontal" role="form" (submit)="deleteEntry(c.id)">
          <div class="form-group">
            <input type="submit" value="Delete" class="btn btn-danger"/>
          </div>
        </form>
      </td>
    </tr>
    </tbody>
  </table>
  <table class="table table-responsive">
    <td>
      <button class="btn" (click)="addValue()"><span class="glyphicon glyphicon-plus"></span></button>
    </td>
  </table>
</div>

<div *ngIf="message" class="col-md-2 values-actions">
  <h4>{{message}}</h4>

  <!--<button class="btn"class="btn btn-danger" (click)="deleteEntry(selectedValue)" >Delete</button>-->
</div>


