
<div *ngIf="(message)" [ngClass]="(deleted)? 'alert-success show' : 'alert alert-info show'" class="alert step" role="alert">
  {{message}}
</div>


<table  class="table table-striped table-bordered">
  <tr>
    <td><b>ID</b></td>
    <td><b>Value</b></td>
    <td><b>State</b></td>
    <td><b>Person</b></td>
    <td><b>MR</b></td>
    <td><b>Source</b></td>
    <td><b>Dimension</b></td>
    <td><b>Edit</b></td>

  </tr>
  <tr *ngFor="let c of values" [ngStyle]="{ 'background-color': (c == selectedValues) ? 'lightblue' : ''  }">
    <td>{{c.id}}</td>
    <td>{{c.value}}</td>
    <td>{{c.state}}</td>
    <td>{{c.person}}</td>
    <td>{{c.mr}}</td>
    <td>{{c.source}}</td>
    <td>{{c.dimension}} </td>
    <td><button class="btn" (click)="select(c)"><span class="glyphicon glyphicon-cog"></span></button></td>
  </tr>

  <div *ngIf="values.length < 1">
    You have no rented cars at the moment!
  </div>

</table>




<div *ngIf="selectedCar" class="col-md-2 mycars-actions">
  <h4>Actions:</h4>
  <button class="btn"class="btn btn-warning" [routerLink]="['/rent-edit', selectedCar.id]">Edit</button> <button
  class="btn"class="btn btn-danger" (click)="deleteEntry(selectedCar)" >Delete</button>
</div>
