<div class="content">

  <div>
    <img src="../../../assets/flow/FlowDimension.png" alt="Flow Dimension">
  </div>
  <br>
  <br>
  <br>
  <br>


  <div class="content">
    <form #form="ngForm">


      <div class="form-group">
        <label>Category</label>
        <select class="form-control" [(ngModel)]="category" [ngModelOptions]="{standalone: true}"
                (change)="saveCategory()">
          <option *ngIf="category != null" [ngValue]="category" selected>{{category.categoryName}}</option>

          <option *ngFor="let c of categories" [ngValue]="c">{{c.categoryName}}</option>
        </select>
      </div>


      <div class="form-group">
        <label>Dimension</label>
        <select class="form-control" [(ngModel)]="dimension" [ngModelOptions]="{standalone: true}"
                (mouseover)="ngOnInit()" (change)="saveDimension()">
          <option *ngIf="dimension != null" [ngValue]="dimension" selected>{{dimension.name}}</option>

          <option *ngFor="let c of dimensions" [ngValue]="c">{{c.name}}</option>
        </select>
      </div>


      <div class="form-group">
        <button (click)="cancel()" class="btn btn-warning">Cancel</button>
        <button (click)="back()" class="btn btn-warning">Back</button>
        <button (click)="continue()" class="btn btn-success" style="position: absolute; right: 2%;">Continue</button>
      </div>

    </form>

  </div>

</div>
