
<div class="sidebar-wrapper">
    <div class="logo">
            <div class="logo-img">
                <img src="../../assets/img/logo1000.PNG" alt="1000">
            </div>
    </div>
  <ul class="nav">
    <li>
      <a>
        <i class="glyphicon glyphicon-home"></i>
        <p><a routerLink="home">Home</a></p>
      </a>
    </li>
    <li>
      <a>
        <i class="glyphicon glyphicon-user"></i>
        <p><a routerLink="uzer">User</a></p>
      </a>
    </li>
    <li>
      <a>
        <i class="glyphicon glyphicon-file"></i>
        <p><a routerLink="value">Value</a></p>
      </a>
    </li>
    <li>
      <a>
        <i class="glyphicon glyphicon-record"></i>
        <p><a routerLink="type">Type</a></p>
      </a>
    </li>
    <li>
      <a>
        <i class="glyphicon glyphicon-stats"></i>
        <p><a routerLink="state">State</a></p>
      </a>
    </li>
    <li>
      <a>
        <i class="glyphicon glyphicon-option-horizontal"></i>
        <p><a routerLink="source">Source</a></p>
      </a>
    </li>
    <li>
      <a>
        <i class="glyphicon glyphicon-duplicate"></i>
        <p><a routerLink="role">Role</a></p>
      </a>
    </li>
    <li>
      <a>
        <i class="glyphicon glyphicon-glass"></i>
        <p><a routerLink="person">Person</a></p>
      </a>
    </li>
    <li>
      <a>
        <i class=" 	glyphicon glyphicon-pushpin"></i>
        <p><a routerLink="personperson">PersonPerson</a></p>
      </a>
    </li>
    <li>
      <a>
        <i class="glyphicon glyphicon-scale"></i>
        <p><a routerLink="mr">MR</a></p>
      </a>
    </li>
    <li>
      <a>
        <i class="glyphicon glyphicon-baby-formula"></i>
        <p><a routerLink="breastfeeding">Breastfeeding</a></p>
      </a>
    </li>
    <li>
      <a>
        <i class="glyphicon glyphicon-equalizer"></i>
        <p><a routerLink="dimension">Dimension</a></p>
      </a>
    </li>
    <li>
      <a>
        <i class="glyphicon glyphicon-compressed"></i>
        <p><a routerLink="category">Category</a></p>
      </a>
    </li>
    </ul>
</div>
