
<div class="sidebar-wrapper">
    <div class="logo">
            <div class="logo-img">
                <img src="../../assets/img/logo1000.PNG" alt="1000">
            </div>
    </div>
    <ul class="nav">
        <li>
            <a>
                <i class="ti-home"></i>
                <p>Home</p>
            </a>
        </li>

        <li>
            <a>
                <i class="ti-arrow-top-right"></i>
                <p>Flights</p>
            </a>
        </li>

        <li>
            <a>
                <i class="ti-user"></i>
                <p>Passengers</p>
            </a>
        </li>
            <!--
            <li routerLinkActive="active">
            <a>
                <i class="ti-shopping-cart"></i>
                <p>Basket</p>
            </a>
            </li>
            <li routerLinkActive="active">
            <a>
                <i class="ti-close"></i>
                <p>Hide Basket</p>
            </a>
            </li>
        -->

    </ul>
</div>
