<div class="content">

  <div>
    <img src="../../../assets/flow/FlowFinish.png" alt="Flow Source">
  </div>
  <br>
  <br>
  <br>
  <br>


  <div class="content">
    <form #form="ngForm">

      <table class="table table-bordered">
        <thead>
        <tr>
          <td><b>Value</b></td>
          <td><b>Person</b></td>
          <td><b>MR</b></td>
          <td><b>Source</b></td>
          <td><b>Biomarker</b></td>
          <td><b>State</b></td>
          <td><b>Comment</b></td>
        </tr>
        </thead>
        <tbody>
        <tr>

          <td *ngIf="value != null">{{value}} </td>
          <td *ngIf="value == null">{{null}} </td>

          <td *ngIf="prefix != null">{{prefix}} {{suffix}} </td>
          <td *ngIf="prefix == null">{{null}} </td>

          <td *ngIf="mr != null">{{c.mr.name}} </td>
          <td *ngIf="mr == null">{{null}} </td>

          <td *ngIf="source != null">{{source.name}} </td>
          <td *ngIf="source == null">{{null}} </td>

          <td *ngIf="biomarker != null">{{biomarker.name}} </td>
          <td *ngIf="biomarker == null">{{null}} </td>

          <td *ngIf="state != null">{{state.description}} </td>
          <td *ngIf="state == null">{{null}} </td>

          <td *ngIf="comment != null">{{comment.comment}}</td>
          <td *ngIf="comment == null">{{null}}</td>


        </tr>
        </tbody>
      </table>





      <div class="form-group">
        <button (click)="cancel()" class="btn btn-warning">Cancel</button>
        <button (click)="back()" class="btn btn-warning">Back</button>
        <button (click)="save()" class="btn btn-success" style="position: absolute; right: 2%;">Save</button>
      </div>

    </form>

  </div>

</div>
