<h1 *ngIf="breastfeeding != null">Breastfeeding Edit!</h1>
<h1 *ngIf="breastfeeding == null">New Breastfeeding!</h1>
<div>
  {{ message }}
</div>


<div class="content" *ngIf="breastfeeding.id != null">
  <form #form="ngForm">


    <div class="form-group">
      <label>Description</label>
      <input [(ngModel)]="breastfeeding.description" name="breastfeeding.description" class="form-control" required >
    </div>


    <div class="form-group">
      <label>Breastfeeding (boolean)</label>
      <select class="form-control" [(ngModel)]="breastfeeding.breastfeeding" [ngModelOptions]="{standalone: true}">

        <option [ngValue]="breastfeeding.breastfeeding" selected>{{breastfeeding.breastfeeding}}</option>
        <option [ngValue]="true" >true</option>
        <option [ngValue]="false" >false</option>
      </select>
    </div>



    <div class="form-group">
      <button (click)="updateBreastfeeding(breastfeeding)" class="btn btn-warning">Save</button>
      <button (click)="cancel()" class="btn btn-success">Cancel</button>

    </div>
  </form>

</div>


<div class="content" *ngIf="breastfeeding.id == null">
  <form #form="ngForm">


    <div class="form-group">
      <label>Description</label>
      <input [(ngModel)]="breastfeeding.description" name="breastfeeding.description" class="form-control" required >
    </div>


    <div class="form-group">
      <label>Breastfeeding (boolean)</label>
      <select class="form-control" [(ngModel)]="breastfeeding.breastfeeding" [ngModelOptions]="{standalone: true}">
        <option [ngValue]="false">false</option>

        <option [ngValue]="true">true</option>
      </select>
    </div>



    <div class="form-group">
      <button (click)="createBreastfeeding(breastfeeding)" class="btn btn-warning">Save</button>
      <button (click)="cancel()" class="btn btn-success">Cancel</button>

    </div>
  </form>




</div>








