<p><img
  src="../../assets/img/josef-ressel-zentrum-fuer-die-erforschung-von-praedispositionen-der-perinatalen-metabolischen-programmierung-von-adipositas-23.jpg"
  alt="josef-ressel-zentrum-fuer-die-erforschung-von-praedispositionen-der-perinatalen-metabolischen-programmierung-von-adipositas"
  class="img-responsive"></p>
<br>
<br>
<p>Diese Webseite ist zur Dateneingabe und Datenpflege für das Josef Ressel Zentrum im Zuge des Projekts 1000 erschaffen
  worden.</p>
<br>
<br>
<br>
<p>Hilfe:</p>
<p>Login: Sie können sich einloggen indem Sie auf den ''Login Button'' rechts oben klicken.</p>
<p>Dateneingabe: Zur Eingabe von Daten klicken Sie auf der linken Seite auf ''Add Value''.</p>
