<p><img
  src="../../assets/img/josef-ressel-zentrum-fuer-die-erforschung-von-praedispositionen-der-perinatalen-metabolischen-programmierung-von-adipositas-23.jpg"
  alt="josef-ressel-zentrum-fuer-die-erforschung-von-praedispositionen-der-perinatalen-metabolischen-programmierung-von-adipositas"
  class="img-responsive"></p>
<br>
<br>
<p>Wie hängt die frühkindliche Ernährung – konkret Stillen beziehungsweise Flaschenernährung – mit Adipositas zusammen?
  Mit dieser Kernfrage beschäftigt sich das am 21. April 2017 eröffnete Josef Ressel Zentrum für die Erforschung von
  Prädispositionen der perinatalen metabolischen Programmierung von Adipositas. Unterstützung erhält das
  Forschungszentrum der FH JOANNEUM in Graz seitens der Christian Doppler Forschungsgesellschaft, dem Bundesministerium
  für Wissenschaft, Forschung und Wirtschaft (BMWFW) sowie dem Unternehmenspartner Milupa Österreich.</p>

<div
  class="mb-module mb-module-type-markdown mb-module-mobile-hide mb-module-margin-top-- mb-module-margin-bottom-- mb-section-main ">
  <p>Im neuen Josef Ressel Zentrum für die Erforschung von Prädispositionen der perinatalen metabolischen Programmierung
    von Adipositas werden mögliche Vorhersagevariablen für die Entstehung von Übergewicht und Adipositas
    multidimensional erforscht. Im Vordergrund steht dabei die Untersuchung des Einflusses der Qualität und der Menge
    der aufgenommenen Nahrung auf die Prägung von Übergewicht in den ersten 1000 Tagen, also in etwa bis zum zweiten
    Geburtstag des Kindes. Als Probandinnen und Probanden werden normalgewichtige, gesunde Frauen und deren
    normalgewichtige, gesunde Kinder gesucht. Voll gestillte Kinder werden mit nicht gestillten – ausschließlich mit
    Formula ernährten – Kindern verglichen.</p>

  <p>Übergewicht ist bereits ein epidemisches Phänomen. Die weltweite Prävalenz von Adipositas hat sich seit den 1980er
    Jahren laut Studien der Weltgesundheitsorganisation verdreifacht (WHO, 2013), wobei Kinder und Jugendliche von
    diesem Anstieg besonders stark betroffen sind. In Österreich ist die Prävalenz von Übergewicht von 2008 bis 2012 bei
    Mädchen von 10 Prozent auf 16 Prozent und bei Jungen von 12 Prozent auf 17 Prozent gestiegen (BMG, 2012).</p>

  <p><strong>BMWFW fördert das innovative Projekt</strong><br/>
    Das Josef Ressel Zentrum wird vom Bundesministerium für Wissenschaft, Forschung und Wirtschaft (BMWFW) und Milupa
    Österreich gemeinsam finanziert. Die Laufzeit beträgt fünf Jahre.</p>

  <p>„Josef Ressel Zentren sind wichtige Schnittstellen von Fachhochschulen und Unternehmen und schaffen einen Mehrwert
    für alle Beteiligten. Die Unternehmenspartner profitieren von der wissenschaftlichen Kompetenz der Fachhochschulen,
    die wiederum das praktische Know-how der Unternehmen optimal nützen können", sagt Wissenschafts- und
    Wirtschaftsminister Dr. Reinhold Mitterlehner. „Die Erforschung von Adipositas und deren Entstehung trägt sowohl zu
    einer besseren Prävention als auch zur Entwicklung weiterer Therapien bei. Kinder und ihre Eltern profitieren davon
    ebenso wie die gesamte Gesellschaft.“ </p>

  <p><strong>Die ersten 1000 Tage</strong><br/>
    Im neuen Josef Ressel Zentrum der FH JOANNEUM wird innerhalb der ersten 16 Lebenswochen von Neugeborenen untersucht,
    ob ein Unterschied im aufgenommenen Volumen zwischen gestillten und mit Formula ernährten Säuglingen besteht. Das
    Ernährungsverhalten in diesem Zeitraum könnte bereits in frühen Lebenswochen einen nicht mehr umkehrbaren
    metabolischen Pfad in Richtung der Entwicklung von Fettleibigkeit prägen. In der zweiten Untersuchungsperiode bis
    zum zweiten Lebensjahr der Kinder werden weitere anthropometrische, biophysikalische und biochemische
    beziehungsweise klinische Parameter untersucht, die im Zusammenhang mit der Entstehung von Fettleibigkeit stehen.
    Ein spezieller Fokus wird dabei auf den Verlauf der Zunahme der Körperfettmasse gelegt, da Fettzellen des
    Fettgewebes als Hormondrüsen wirken, wodurch die Entwicklung von Übergewicht begünstigt wird.</p>

  <p>Milupa Österreich, als Tochter der Danone Nutricia GmbH, unterstützt die Forschung als Förderungs- und
    Kompetenzpartner. Das Unternehmen, das heuer sein 60-jähriges Jubiläum in Österreich begeht, ist der führende
    Experte für die Ernährung in den ersten 1000 Tagen. Das Unternehmen widmet sich seit über 40 Jahren mit einem
    eigenen Muttermilchforschungszentrum, dem Danone Nutricia Research Center in Utrecht, der Erforschung der optimalen
    Ernährung vom Beginn der Schwangerschaft bis zum Kleinkindalter, wohl wissend, dass der Goldstandard Muttermilch auf
    industrielle Weise nie erreicht werden kann. </p>

  <p>Der hohe Innovationsgrad dieses multidimensionalen Forschungsvorhabens zeichnet sich durch einen stark
    interdisziplinären thematischen Zugang aus. Expertinnen und Experten aus den Bereichen Hebammenwesen, Pflege,
    Ernährung, Psychologie, Bioanalytik und Informationstechnologie arbeiten mit technologisch zeitgemäß ausgestatteter
    Infrastruktur an einschlägigen Fragestellungen rund um die Forschungsthematik. Zu jener Infrastruktur zählen auch
    zwei Geräte, die in dieser Kombination in sehr wenigen Forschungseinrichtungen europaweit vorhanden sind: Der PEA
    POD, in dem die Körperzusammensetzung von Babys und Kleinkindern vermessen wird sowie der BOD POD, der diese
    Funktion für Personen ab über zwölf Kilogramm Körpergewicht bietet. </p>
</div>
<div
  class="mb-module mb-module-type-video mb-module-mobile-hide mb-module-margin-top-- mb-module-margin-bottom-- mb-section-main ">
  <div class="embed-container">
    <iframe id="video"
            src="//www.youtube.com/embed/mY96g7zEQQw?rel=0&controls=0&showinfo=0&enablejsapi=1&modestbranding=1"
            frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="caption video-caption">
  </div>
</div>
<div
  class="mb-module mb-module-type-markdown mb-module-mobile-hide mb-module-margin-top-- mb-module-margin-bottom-- mb-section-main ">
  <p><strong>Josef Ressel Zentren an der FH JOANNEUM</strong><br/>
    In Josef Ressel Zentren wird anwendungsorientierte Forschung auf hohem Niveau betrieben, hervorragende ForscherInnen
    kooperieren dazu mit innovativen Unternehmen und internationalen Hochschulen. Für die Förderung dieser
    Zusammenarbeit gilt die Christian Doppler Forschungsgesellschaft international als Best Practice Beispiel. Josef
    Ressel Zentren werden vom Bundesministerium für Wissenschaft, Forschung und Wirtschaft (BMWFW) und den beteiligten
    Unternehmen gemeinsam finanziert. Das Forschungszentrum für die Erforschung von Prädispositionen der perinatalen
    metabolischen Programmierung von Adipositas ist das zweite Josef Ressel Zentrum der FH JOANNEUM.</p>

  <p><strong>Statements</strong><br/>
    <strong>Christopher Drexler</strong>, steirischer Landesrat für Gesundheit, Pflege, Wissenschaft und Personal: „Die
    Prävention von Adipositas ist ein wichtiges Thema. Ich bin froh, dass man sich im neuen Josef Ressel Zentrum der FH
    JOANNEUM dem annimmt. Dieses Projekt und dessen Ergebnisse bereichern nicht nur unsere Forschungslandschaft, sondern
    fördern in Zukunft auch die Gesundheit der Steirerinnen und Steirer.“</p>

  <p><strong>Reinhart Kögerler</strong>, Präsident der Christian Doppler Forschungsgesellschaft: „Josef Ressel Zentren
    sind für die Aktivierung des Forschungspotenzials von Fachhochschulen von großer Bedeutung. Dass es an der FH
    JOANNEUM nun bereits zwei Josef Ressel Zentren gibt, zeigt eine erfreuliche Entwicklung hin zu hochqualitativer und
    international evaluierter Forschung – und stärkt gleichzeitig diesen wichtigen FH-Standort in Österreich.“</p>

  <p><strong>Günther Witamwas</strong>, Aufsichtsratsvorsitzender, FH JOANNEUM: „Interdisziplinarität steht seit der
    ersten Stunde der FH JOANNEUM in Lehre und Forschung im Fokus. Im neuen Josef Ressel Zentrum profitieren alle
    Projektpartner von dem Know-how und den vorangegangenen Erfahrungen, was fächerübergreifendes Arbeiten und Forschen
    betrifft.“</p>

  <p><strong>Karl Peter Pfeiffer</strong>, Rektor und Geschäftsführer, FH JOANNEUM: „Die FH JOANNEUM in Graz bietet
    nicht nur das für das Forschungsvorhaben benötigte spezialisierte wissenschaftliche Fachpersonal, das sich
    interdisziplinär vernetzt, sondern auch hochmodern ausgestattete Infrastruktur. Im Zuge von zahlreichen geförderten
    sowie vollfinanzierten Vorprojekten wurden schrittweise einschlägige Expertise und Laboreinrichtung aufgebaut.“</p>

  <p><strong>Moenie van der Kleyn</strong>, Leiterin des Forschungszentrums, FH JOANNEUM: „Die Innovation des
    Forschungsvorhabens dieses Josef Ressel Zentrums liegt im Fokus der allerersten Lebensphase Schwangerschaft bis zum
    zweiten Lebensjahr, in der die Mutter-Kind-Einheit multidimensional betrachtet wird. Die gewonnenen Daten stellen
    die Basis für evidenzbasierte und auf die Zielgruppe abgestimmte Präventionsmaßnahmen dar.“</p>

  <p><strong>Erwin Zinser</strong>, Leiter des Forschungszentrums, FH JOANNEUM: „Dieses fünfjährige Forschungsvorhaben
    adressiert Expertise der FH JOANNEUM in mehreren Fachdisziplinen. Es ermöglicht uns, exzellentes Know-how und
    zugehörige Infrastruktur mehrerer Institute zu bündeln und somit ein relevantes Thema der Volksgesundheit auf
    höchstem Niveau zu beforschen.“</p>

  <p><strong>Christopher Mayr</strong>, Country Manager, Milupa Österreich: „Milupa betreibt seit über 40 Jahren
    intensive Forschung und Entwicklung auf dem Gebiet der Muttermilchforschung. Mit der Investition in den
    Forschungsstandort Österreich und im Speziellen mit der Partnerschaft und der herausragenden Expertise der FH
    JOANNEUM gehen wir als Milupa Österreich konsequent den Weg der Forschung auf Spitzenniveau mit lokalen Partnern.
    Die gewonnenen Erkenntnisse werden in die Weiterentwicklung neuer wie auch bestehender Produkte einfließen und
    möglicherweise neue Standards setzen. So können wir Mütter und deren Kinder punktgenau bei den speziellen
    Bedürfnissen in den ersten 1000 Tagen unterstützen.“</p>

  <p><strong>Bernd Stahl</strong>, Direktor Human Milk Research, Danone Nutricia Research, Utrecht, Niederlande:
    „Muttermilch ist das Maß aller Dinge. Sie bietet dem Baby alles, was es für den optimalen Start ins Leben benötigt.
    Ein Geniestreich der Natur, aber auch Ansporn, dieses Wunderwerk besser zu verstehen. In den ersten 1000 Tagen
    werden für das weitere Leben eines Menschen viele Weichen gestellt. Wir haben es uns zum Ziel gesetzt, durch die
    Kooperation mit dem Josef Ressel Zentrum für die Erforschung von Prädispositionen der perinatalen metabolischen
    Programmierung von Adipositas Einflussfaktoren zu identifizieren, die es uns erlauben, bessere Einblicke in die
    optimale Ernährung und Entwicklung eines Kindes zu erhalten.“</p></div>
  <br>
  <br>
  <br>
  <p>Hilfe:</p>
  <p>Login: Sie können sich einloggen indem Sie auf den ''Login Button'' rechts oben klicken.</p>
  <p>Dateneingabe: Zur Eingabe von Daten klicken Sie auf der linken Seite auf ''Add Value''.</p>
